<div id="main-content" class="container">
  <div id="timer"></div>
<h2>Game</h2>

  <div class="modal">
    <div class="modal_body">
      <button class="reload">play again</button>
      <a href="/users/1"><button class="home">go home</button></a>
    </div>
  </div>
</div>

<<<<<<< HEAD
Words :<%= @display_arr %>
=======
<%javascript_include_tag 'game/test.js' %>
>>>>>>> 93b6ddd1ed84220b69a7a1c3aa9d8562e3251f4b
