<div id="main-content" class="container">
  <div id="timer"></div>
<h2>Game</h2>

  <div class="modal">
    <div class="modal_body">
      <button class="reload">play again</button>
      <a href="/users/1"><button class="home">go home</button></a>
    </div>
  </div>
</div>

<%javascript_include_tag 'game/test.js' %>
