<div class="landing-body">
  <div class="page-wrapper">
  <audio autoplay="autoplay" loop="true" src="/audios/LullatoneDanceDance.mp3"></audio>
    <a id="play-link" href="/index">PLAY</a>
  </div>
</div>
