.landing-body{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  width: 100%;
  background-image: url('background-tile.jpg');
}
.page-wrapper{
  margin: 50px auto;
  display: block;
  width: 1200px;
  height: 600px;
  background-image: url('landing-page.gif');
  text-align: center;
  padding-top: 250px;
}

#play-link{
  font-family: 'Chewy', cursive;
  font-size: 150px;
  margin-left: 320px;
  color: tomato;
}

#play-link:hover{
  color: papayawhip;
}
