#banner {
	top:5%;
	width:100%;
	opacity:.95;
	position:fixed;
	display:none;
	height:100%;
	background-color:black;
	z-index: 5;
}

#banner2 {
	top:5%;
	width:100%;
	opacity:.95;
	position:fixed;
	display:none;
	height:100%;
	background-color:black;
	z-index: 5;
}

#trigger {
  cursor: pointer;
}

#trigger2 {
  cursor: pointer;
}

#instruct {
  position:relative;
  left:350px;
  width:500px;
  height:300px;
  background-color:white;
  border-radius: 40px 40px;
}

#leadButton{
position:relative;
left:450px;
bottom:40px;

}

#howButton{
position:relative;
left:450px;
bottom:40px;

}

#leaderboard {
  position:relative;
  left:350px;
  width:500px;
	padding-bottom:30px;
  background-color:white;
  border-radius: 40px 40px;
}

#instructTitle {
  position:relative;
  left:165px;

}

#leaderboardTitle {
  position:relative;
  left:165px;

}
