<nav class="navbar navbar-default navbar-fixed-bottom nav-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <a href="#">Steven</a>
        <a href="#">Lori</a>
        <a href="#">Aaron</a>
      </div>
    </div>
  </div>
</nav>
