<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsible-content" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <% if user_signed_in? %>
    <%= link_to 'ALPHABET SOUP', welcome_path, class: 'navbar-brand' %>
  <% else %>
    <%= link_to 'ALPHABET SOUP', login_path, class: 'navbar-brand' %>
  <% end %>
</div>
